{
    "swagger": "2.0",
    "info": {
        "title": "Biztory API",
        "description": "\nThis is an API documentation of [Biztory](http://www.biztory.com.my)\nto help developer integrate any existing platform into Biztory accounting core engine.\n# Prerequisite\nYou need to enable API functionality in your Biztory account in order to obtain your\nAPI key. For every API call, you have to append the API key as `query` or append it in your\n`header`.\n```\n# example 1\nPOST: https://YOUR_BIZTORY_SUBDOMAIN.biztory.com.my/api_v1/sale?api_key=XXXX\n\n# example 2\nHeader: {'Api-key': 'XXXXX'}\n```\nPlease follow the steps to enable API in your Biztory account:\n* Edit your profile and assign **Developer** role, save the changes\n* Go to My Biztory > Developer, enable the API feature\n---\n\t \t\t   ",
        "contact": {
            "email": "info@biztory.com.my"
        },
        "version": "1.6.3"
    },
    "host": "techstrongbox.biztory.com.my",
    "basePath": "/api_v1",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/api_login": {
            "post": {
                "tags": [
                    "login/logout"
                ],
                "summary": "Api login",
                "description": "Login url",
                "operationId": "api.user.login",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "login data to authentication",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/apiLogin"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/LoginSuccess"
                        }
                    }
                }
            }
        },
        "/api_logout": {
            "get": {
                "tags": [
                    "login/logout"
                ],
                "summary": "Api logout",
                "description": "Logout url",
                "operationId": "api.user.logout",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Logout from Biztory",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/apiLogout"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/LogoutSuccess"
                        }
                    }
                }
            }
        },
        "/sale": {
            "get": {
                "tags": [
                    "sale"
                ],
                "summary": "List sale invoice",
                "description": "Get paginated list of sale invoices (50 invoices per page)",
                "parameters": [
                    {
                        "name": "_q",
                        "in": "query",
                        "description": "The query condition act as `%keyword%`. Get result by field `ref_num`, `payee`, `invoice_date`. Valid input:*INV001, John, phone, 29-01-2020*",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter invoice by status. Valid input:*unpaid, undelivered, archived*",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page to retrieve",
                        "required": false,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/savedSale"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "sale"
                ],
                "summary": "Create new invoice",
                "description": "Insert a new sale invoice into listing.",
                "operationId": "api.sale.store",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "invoice data to create new sale invoice",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newSale"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SaleStoreSuccess"
                        }
                    }
                }
            }
        },
        "/sale/{id}": {
            "get": {
                "tags": [
                    "sale"
                ],
                "summary": "Get sale invoice by ID",
                "description": "Get sale invoice detail",
                "operationId": "api.sale.show",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Invoice ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetSaleSuccess"
                        }
                    }
                }
            }
        },
        "/sale/{id}/update": {
            "put": {
                "tags": [
                    "sale"
                ],
                "summary": "Update sale invoice",
                "description": "Update sale invoice details",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Invoice ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "invoice data to create new sale invoice",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newSale"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetSaleSuccess"
                        }
                    }
                }
            }
        },
        "/quote": {
            "post": {
                "tags": [
                    "quotation"
                ],
                "summary": "Create new quotation",
                "description": "Insert a new quotation into listing.",
                "operationId": "api.quotation.store",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "invoice data to create new quotation",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newQuotation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SaleStoreSuccess"
                        }
                    }
                }
            }
        },
        "/quote/{id}": {
            "get": {
                "tags": [
                    "quotation"
                ],
                "summary": "Get quotation invoice",
                "description": "Get quotation invoice detail",
                "operationId": "api.quotation.show",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Invoice ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetSaleSuccess"
                        }
                    }
                }
            }
        },
        "/sale/{id}/pay": {
            "put": {
                "tags": [
                    "sale"
                ],
                "summary": "Update payment",
                "description": "Update payment on selected sales invoice.",
                "operationId": "api.sale.update_pay",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Sale invoice ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "trans_id",
                        "in": "query",
                        "description": "Update sale invoice payment by ID. Example `trans_id = 100`",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/UpdateSalePaymentSuccess"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "sale"
                ],
                "summary": "Make payment",
                "description": "Knock off payment on selected sales invoice.",
                "operationId": "api.sale.pay",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Sale invoice ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Payment data to apply on invoice",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/salePayment"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SalePaymentSuccess"
                        }
                    }
                }
            }
        },
        "/sale/{id}/delete_payment": {
            "delete": {
                "tags": [
                    "sale"
                ],
                "summary": "Delete payment",
                "description": "Delete payment on selected sales invoice.",
                "operationId": "api.sale.del_pay",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Sale invoice ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "trans_id",
                        "in": "query",
                        "description": "Delete sale invoice payment by ID. Must concat string `del_` with `payment ID`. Example `del_100`",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DeleteSalePaymentSuccess"
                        }
                    }
                }
            }
        },
        "/purchase": {
            "get": {
                "tags": [
                    "purchase"
                ],
                "summary": "List purchase invoice",
                "description": "List all purchase invoice details",
                "parameters": [
                    {
                        "name": "_q",
                        "in": "query",
                        "description": "The query condition act as `%keyword%`. Get result by field `ref_num`, `payee`, `invoice_date`. Valid input: *INV001 , John , phone , 29-01-2020*",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter invoice by status. Valid input:*unpaid , undelivered , archived*",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/PurchaseSearchSuccess"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "purchase"
                ],
                "summary": "Create new invoice",
                "description": "Insert a new purchase invoice into listing.",
                "operationId": "api.purchase.store",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "invoice data to create new purchase invoice",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newPurchase"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/PurchaseStoreSuccess"
                        }
                    }
                }
            }
        },
        "/customer": {
            "get": {
                "tags": [
                    "customer"
                ],
                "summary": "List all customers",
                "description": "Retrieve all customers details.",
                "operationId": "api.list.customer",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order by ascending or descending.Valid input:*asc, desc*",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "predicate",
                        "in": "query",
                        "description": "Default result is ascending.Input name, address, phone, email to sort result as descending.Valid input:*name, address, phone, email*",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter customer by `recent` last 6 months, `rich` get total of sales, and `grouping` by state. Valid input:*recent ,rich, grouping*",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/getCustomerSuccess"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "customer"
                ],
                "summary": "Create new customer",
                "description": "Insert a new customer.",
                "operationId": "api.customer.store",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Customer data to create new customer",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newCustomer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/CustomerStoreSuccess"
                        }
                    }
                }
            }
        },
        "/customer/{id}/invoice": {
            "get": {
                "tags": [
                    "customer"
                ],
                "summary": "List sales by customer",
                "description": "Retrieve all sales invoices by customer ID.",
                "operationId": "api.customer.invoice",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Customer ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Filter invoice by ref_num and invoice_date.Valid input:*INV001,2019-03-15*",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Default result is ascending.Input id, ref_num, invoice_date to sort result as\n\t   \t\t\t\tdescending.Valid input:*id, ref_num, invoice_date*",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter invoice by payment status and delivery status. Valid input:*unpaid ,undelivered*",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SearchSaleSuccess"
                        }
                    }
                }
            }
        },
        "/customer/{id}/statement": {
            "get": {
                "tags": [
                    "customer"
                ],
                "summary": "Get customer statement",
                "description": "Retrieve customer statement by customer ID.",
                "operationId": "api.customer.statement",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Customer ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/CustomerStatementListSuccess"
                        }
                    }
                }
            }
        },
        "/customer/{id}/transaction": {
            "get": {
                "tags": [
                    "customer"
                ],
                "summary": "List transactions by customer",
                "description": "Retrieve all payment transactions by customer ID.",
                "operationId": "api.customer.transaction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Customer ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/CustomerTransactionSuccess"
                        }
                    }
                }
            }
        },
        "/customer/{id}/soa": {
            "get": {
                "tags": [
                    "customer"
                ],
                "summary": "List statement of account by customer",
                "description": "Retrieve all statement of account by customer ID.",
                "operationId": "api.customer.soa",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Customer ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "startdate",
                        "in": "query",
                        "description": "Start date of statement of account.Valid input:*2019-03-15*",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "enddate",
                        "in": "query",
                        "description": "End date of statement of account.Valid input:*2019-06-15*",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/StatementOfAccountListSuccess"
                        }
                    }
                }
            }
        },
        "/customer/{id}/aging": {
            "get": {
                "tags": [
                    "customer"
                ],
                "summary": "List aging by customer",
                "description": "Retrieve all aging by customer ID.",
                "operationId": "api.customer.aging",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Customer ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "startdate",
                        "in": "query",
                        "description": "Start date of statement of account.Valid input:*2019-03-15*",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "enddate",
                        "in": "query",
                        "description": "End date of statement of account.Valid input:*2019-06-15*",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/AgingListSuccess"
                        }
                    }
                }
            }
        },
        "/product": {
            "get": {
                "tags": [
                    "product"
                ],
                "summary": "Get all product",
                "description": "List all the product",
                "operationId": "api.product.index",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order by ascending or descending.Valid input:*asc, desc*",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "Default to all category. Input category ID, Valid input: *1,2,3*",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "predicate",
                        "in": "query",
                        "description": "Default result is ascending.Input available_stock , sku, name, selling_price to sort result as descending.Valid input:*available_stock , sku, name, selling_price*",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter product by existing product and deleted. Valid input:*archived*",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/getProductSuccess"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "product"
                ],
                "summary": "Create new product",
                "description": "Insert a new product into listing.",
                "operationId": "api.product.store",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "metadata to create a new product",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newProduct"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ProductStoreSuccess"
                        }
                    }
                }
            }
        },
        "/product/{id}": {
            "get": {
                "tags": [
                    "product"
                ],
                "summary": "Get product",
                "description": "Get product detail",
                "operationId": "api.product.show",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Product ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ProductShowSuccess"
                        }
                    }
                }
            }
        },
        "/product/code/{code}": {
            "get": {
                "tags": [
                    "product"
                ],
                "summary": "Get product by Code",
                "description": "Get product detail",
                "operationId": "api.product.show",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Product Code",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ProductSkuShowSuccess"
                        }
                    }
                }
            }
        },
        "/expense": {
            "post": {
                "tags": [
                    "expense"
                ],
                "summary": "Create new expense",
                "description": "Insert a new expense into listing.",
                "operationId": "api.expense.store",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "expense data to create new expense",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newExpense"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ExpenseStoreSuccess"
                        }
                    }
                }
            }
        },
        "/expense/{id}/update": {
            "put": {
                "tags": [
                    "expense"
                ],
                "summary": "Update expense",
                "description": "Update a existing expense from listing.",
                "operationId": "api.expense.update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Invoice ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "update data to existing expense",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newExpense"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ExpenseStoreSuccess"
                        }
                    }
                }
            }
        },
        "/account/bank/all": {
            "get": {
                "tags": [
                    "wallet"
                ],
                "summary": "Get all banks",
                "description": "List all the available banks.",
                "operationId": "api.account.bank.all",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/BankListSuccess"
                        }
                    }
                }
            }
        },
        "/account": {
            "get": {
                "tags": [
                    "wallet"
                ],
                "summary": "Get all wallets",
                "description": "List all the available wallets.",
                "operationId": "api.account.all",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/AccountListSuccess"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "wallet"
                ],
                "summary": "New Wallet",
                "description": "Insert a new wallet into listing.",
                "operationId": "api.account.store",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "wallet data to create new wallet",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newAccount"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/AccountStoreSuccess"
                        }
                    }
                }
            }
        },
        "/payment_method": {
            "get": {
                "tags": [
                    "payment method"
                ],
                "summary": "Get all Payment Methods",
                "description": "List all the available Payment Methods.",
                "operationId": "api.payment_method.all",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/PaymentMethodListSuccess"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "payment method"
                ],
                "summary": "New Payment Method",
                "description": "Insert a new payment method into listing.",
                "operationId": "api.payment_method.store",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "payment method data to create new payment method",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newPaymentMethod"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/PaymentMethodStoreSuccess"
                        }
                    }
                }
            }
        },
        "/payment_method/{id}": {
            "put": {
                "tags": [
                    "payment method"
                ],
                "summary": "Update Payment Method",
                "description": "Update payment method details.",
                "operationId": "api.payment_method.update",
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "Payment method ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "update payment method name",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdatePaymentMethod"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "property": "data",
                            "description": "update payment method",
                            "$ref": "#/definitions/savedPaymentMethod"
                        }
                    }
                }
            }
        },
        "/journal": {
            "post": {
                "tags": [
                    "journal"
                ],
                "summary": "Create new journal",
                "description": "Insert a new journal.",
                "operationId": "api.journal.store",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "journal data to create new journal",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newJournal"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/JournalStoreSuccess"
                        }
                    }
                }
            }
        },
        "/chart_of_account": {
            "post": {
                "tags": [
                    "chart of account"
                ],
                "summary": "Create new chart of account",
                "description": "Insert a new chart of account.",
                "operationId": "api.chart_of_account.store",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "data to create new chart of account",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newChartOfAccount"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ChartOfAccountStoreSuccess"
                        }
                    }
                }
            }
        },
        "/chart_of_account/account_type": {
            "get": {
                "tags": [
                    "chart of account"
                ],
                "summary": "Get all account types",
                "description": "List all the available account types to be associated with chart of account.",
                "operationId": "api.chart_of_account.get_account_type",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/AccountTypeListSuccess"
                        }
                    }
                }
            }
        },
        "/chart_of_account/{code}": {
            "get": {
                "tags": [
                    "chart of account"
                ],
                "summary": "Get chart of account by code",
                "description": "Get chart of account by code.",
                "operationId": "api.chart_of_account.get_chart_of_account",
                "parameters": [
                    {
                        "name": "Code",
                        "in": "path",
                        "description": "Code",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ChartOfAccountByCode"
                        }
                    }
                }
            }
        },
        "/recurring": {
            "get": {
                "tags": [
                    "recurring"
                ],
                "summary": "Get list of recurring",
                "description": "Get list of invoice detail",
                "operationId": "api.recurring.index",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/listRecurring"
                        }
                    }
                }
            }
        },
        "/recurring/{id}": {
            "delete": {
                "tags": [
                    "recurring"
                ],
                "summary": "Delete recurring",
                "description": "Delete recurring by id",
                "operationId": "api.recurring.destroy",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Invoice ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/deleteRecurring"
                        }
                    }
                }
            }
        },
        "/branch/all": {
            "get": {
                "tags": [
                    "branch"
                ],
                "summary": "Get all Branches",
                "description": "List all the available Branches.",
                "operationId": "api.branch.all",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/brachLists"
                        }
                    }
                }
            }
        },
        "/vendor": {
            "get": {
                "tags": [
                    "Supplier"
                ],
                "summary": "List all suppliers",
                "description": "Retrieve all supplier details.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order by ascending or descending.Valid input:*asc, desc*",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "predicate",
                        "in": "query",
                        "description": "Default result is ascending.Input name, billing address, business registration number,GST registration number and date GST status verified to sort result as descending. Valid input:*name, billing_addr, brn, grn , date_gst_status_verified*",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter supplier by existing or archived suppliers . Valid input:*archived*",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/getVendorSuccess"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Supplier"
                ],
                "summary": "Create new supplier",
                "description": "Insert a new supplier.",
                "operationId": "api.vendor.store",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Supplier data to create new supplier",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newVendor"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/VendorStoreSuccess"
                        }
                    }
                }
            }
        },
        "/command/{cmd}": {
            "post": {
                "tags": [
                    "command"
                ],
                "summary": "Commands API",
                "description": "Use command to process data",
                "operationId": "api.commmand",
                "parameters": [
                    {
                        "name": "cmd",
                        "in": "path",
                        "description": "Empty cache for user. Available value `empty_cahe`",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/commandSuccess"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Error": {
            "required": [
                "code",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "AccountListSuccess": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/savedAccount"
            }
        },
        "AccountStoreSuccess": {
            "properties": {
                "success": {
                    "type": "boolean",
                    "example": true
                },
                "created": {
                    "type": "boolean",
                    "example": true
                },
                "updated": {
                    "type": "boolean",
                    "example": true
                },
                "message": {
                    "type": "string",
                    "example": "Successfully updated Object!"
                },
                "data": {
                    "$ref": "#/definitions/savedAccount"
                }
            },
            "type": "object"
        },
        "BankListSuccess": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/bank"
            }
        },
        "brachLists": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/brachListsSucess"
            }
        },
        "brachListsSucess": {
            "properties": {
                "id": {
                    "description": "Branch ID",
                    "type": "string",
                    "example": "1"
                },
                "name": {
                    "description": "Branch name",
                    "type": "string",
                    "example": "Branch (Selangor)"
                },
                "hq": {
                    "description": "Value to determine which branch is HQ. Value = `1` or `0`",
                    "type": "integer",
                    "example": "1"
                },
                "company_name": {
                    "description": "Company name for branch",
                    "type": "string",
                    "example": "Biztory"
                },
                "company_brn": {
                    "description": "Company brn for branch",
                    "type": "string",
                    "example": "Business Registration No"
                },
                "company_addr": {
                    "description": "Company address for branch",
                    "type": "string",
                    "example": "Co3 Social Office"
                },
                "company_contact": {
                    "description": "Company contact for branch",
                    "type": "string",
                    "example": "0120000000"
                },
                "company_fax": {
                    "description": "Company fax for branch",
                    "type": "string",
                    "example": "0300000000"
                },
                "company_email": {
                    "description": "Company email for branch",
                    "type": "string",
                    "example": "Biztory@gmail.com"
                },
                "created_at": {
                    "description": "Branch created date",
                    "type": "string",
                    "format": "date"
                }
            },
            "type": "object"
        },
        "ChartOfAccountByCode": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/GetChartOfAccountByCode"
            }
        },
        "AccountTypeListSuccess": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/AccountType"
            }
        },
        "ChartOfAccountStoreSuccess": {
            "properties": {
                "success": {
                    "type": "boolean",
                    "example": true
                },
                "created": {
                    "type": "boolean",
                    "example": true
                },
                "message": {
                    "type": "string",
                    "example": "Successfully updated Object!"
                },
                "data": {
                    "$ref": "#/definitions/savedChartOfAccount"
                }
            },
            "type": "object"
        },
        "getCustomerSuccess": {
            "properties": {
                "total": {
                    "type": "number",
                    "example": "1"
                },
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/getCustomer"
                    }
                }
            },
            "type": "object"
        },
        "ExpenseStoreSuccess": {
            "properties": {
                "success": {
                    "type": "boolean",
                    "example": true
                },
                "created": {
                    "type": "boolean",
                    "example": true
                },
                "updated": {
                    "type": "boolean",
                    "example": true
                },
                "message": {
                    "type": "string",
                    "example": "Successfully updated Object!"
                },
                "data": {
                    "$ref": "#/definitions/savedExpense"
                }
            },
            "type": "object"
        },
        "JournalStoreSuccess": {
            "properties": {
                "success": {
                    "description": "Store a newly created resource in storage.",
                    "type": "boolean",
                    "example": true
                },
                "created": {
                    "description": "Store a newly created resource in storage.",
                    "type": "boolean",
                    "example": true
                },
                "message": {
                    "description": "Store a newly created resource in storage.",
                    "type": "string",
                    "example": "Successfully updated Object!"
                },
                "data": {
                    "description": "Store a newly created resource in storage.",
                    "$ref": "#/definitions/savedJournal"
                },
                "journal_items": {
                    "description": "journal items detail",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/savedJournal_item"
                    }
                }
            },
            "type": "object"
        },
        "PaymentMethodListSuccess": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/savedPaymentMethod"
            }
        },
        "PaymentMethodStoreSuccess": {
            "properties": {
                "success": {
                    "type": "boolean",
                    "example": true
                },
                "created": {
                    "type": "boolean",
                    "example": true
                },
                "updated": {
                    "type": "boolean",
                    "example": true
                },
                "message": {
                    "type": "string",
                    "example": "Successfully updated Object!"
                },
                "data": {
                    "$ref": "#/definitions/savedPaymentMethod"
                }
            },
            "type": "object"
        },
        "UpdatePaymentMethod": {
            "required": [
                "name"
            ],
            "properties": {
                "name": {
                    "description": "Name of the payment method",
                    "type": "string",
                    "example": "Online Transfer"
                }
            },
            "type": "object"
        },
        "ProductShowSuccess": {
            "properties": {
                "id": {
                    "description": "Product ID",
                    "type": "integer",
                    "example": "1"
                }
            },
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/basicProduct"
                },
                {
                    "$ref": "#/definitions/ProductStock"
                }
            ]
        },
        "ProductSkuShowSuccess": {
            "properties": {
                "id": {
                    "description": "Product ID",
                    "type": "integer",
                    "example": "1"
                }
            },
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/basicProduct"
                },
                {
                    "$ref": "#/definitions/ProductStock"
                }
            ]
        },
        "ProductStoreSuccess": {
            "properties": {
                "success": {
                    "type": "boolean",
                    "example": true
                },
                "created": {
                    "type": "boolean",
                    "example": true
                },
                "message": {
                    "type": "string",
                    "example": "Successfully created Object!"
                },
                "data": {
                    "$ref": "#/definitions/savedProduct"
                }
            },
            "type": "object"
        },
        "statementRecord": {
            "properties": {
                "id": {
                    "description": "ID",
                    "type": "integer",
                    "example": "1"
                },
                "ref_num": {
                    "description": "Sale Invoice Number",
                    "type": "string",
                    "example": "INV0001"
                },
                "remark": {
                    "description": "Remarks",
                    "type": "string",
                    "example": "100%|today"
                },
                "paid": {
                    "type": "number",
                    "example": "0.00"
                },
                "date": {
                    "type": "string",
                    "format": "date"
                },
                "due_date": {
                    "type": "string",
                    "format": "date"
                },
                "total": {
                    "type": "number",
                    "example": "660.00"
                },
                "due": {
                    "type": "number",
                    "example": "660.00"
                }
            },
            "type": "object"
        },
        "dueAmount": {
            "properties": {
                "current": {
                    "type": "number",
                    "example": "0"
                },
                "overdue_30": {
                    "type": "number",
                    "example": "188"
                },
                "overdue_60": {
                    "type": "number",
                    "example": "550"
                },
                "overdue_90": {
                    "type": "number",
                    "example": "12842.4"
                },
                "above_90": {
                    "type": "number",
                    "example": "0"
                },
                "total_due": {
                    "type": "number",
                    "example": "13580.4"
                }
            },
            "type": "object"
        },
        "CustomerStatementListSuccess": {
            "properties": {
                "payee_id": {
                    "description": "Customer ID",
                    "type": "integer",
                    "example": "1"
                },
                "records": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/statementRecord"
                    }
                },
                "due": {
                    "$ref": "#/definitions/dueAmount"
                }
            },
            "type": "object"
        },
        "CustomerTransactionSuccess": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/transactionRecord"
            }
        },
        "SearchSaleSuccess": {
            "properties": {
                "total": {
                    "type": "number",
                    "example": "1"
                },
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/savedSale"
                    }
                }
            },
            "type": "object"
        },
        "SaleStoreSuccess": {
            "properties": {
                "success": {
                    "type": "boolean",
                    "example": true
                },
                "created": {
                    "type": "boolean",
                    "example": true
                },
                "updated": {
                    "type": "boolean",
                    "example": true
                },
                "message": {
                    "type": "string",
                    "example": "Successfully updated Object!"
                },
                "data": {
                    "$ref": "#/definitions/savedSale"
                },
                "invoice_items": {
                    "description": "invoice items detail",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/savedSale_item"
                    }
                }
            },
            "type": "object"
        },
        "SalePaymentSuccess": {
            "properties": {
                "success": {
                    "type": "boolean",
                    "example": true
                },
                "updated": {
                    "type": "boolean",
                    "example": true
                },
                "message": {
                    "type": "string",
                    "example": "Payment make successfully."
                },
                "invoice_items": {
                    "description": "invoice items detail",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/savedSale_item"
                    }
                },
                "data": {
                    "$ref": "#/definitions/savedSale"
                },
                "transaction": {
                    "$ref": "#/definitions/paymentTransaction"
                }
            },
            "type": "object"
        },
        "UpdateSalePaymentSuccess": {
            "properties": {
                "success": {
                    "type": "boolean",
                    "example": true
                },
                "updated": {
                    "type": "boolean",
                    "example": true
                },
                "message": {
                    "type": "string",
                    "example": "Payment make successfully."
                },
                "payment": {
                    "description": "invoice update payment details",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/saved_payment"
                    }
                },
                "data": {
                    "$ref": "#/definitions/savedSale"
                },
                "transaction": {
                    "$ref": "#/definitions/paymentTransaction"
                }
            },
            "type": "object"
        },
        "saved_payment": {
            "properties": {
                "paid": {
                    "description": "Payment paid amount",
                    "type": "string",
                    "example": "100.00"
                },
                "due": {
                    "description": "Invoice due amount",
                    "type": "string",
                    "example": "10.00"
                },
                "payment_status": {
                    "description": "Invoice payment status",
                    "type": "number",
                    "example": 1
                },
                "delivery_status": {
                    "description": "Delivery status",
                    "type": "number",
                    "example": 0
                }
            },
            "type": "object"
        },
        "paymentTransaction": {
            "properties": {
                "id": {
                    "description": "Payment ID",
                    "type": "number",
                    "example": 1
                },
                "payment_method_id": {
                    "description": "Payment method id",
                    "type": "number",
                    "example": "1"
                },
                "amount": {
                    "description": "Payment amount",
                    "type": "string",
                    "example": "200.00"
                },
                "payment_date": {
                    "description": "Payment date",
                    "type": "string",
                    "format": "date"
                },
                "entry": {
                    "description": "Journal entry",
                    "type": "string",
                    "example": "debit"
                },
                "description": {
                    "description": "Payment description",
                    "type": "string",
                    "example": "string"
                },
                "payee_id": {
                    "description": "Customer or Venor id",
                    "type": "number",
                    "example": "10"
                },
                "payee_type": {
                    "description": "Type of the payee. Customer or Vendor",
                    "type": "string",
                    "example": "Customer"
                },
                "branch_id": {
                    "description": "Payment branch id",
                    "type": "number",
                    "example": "1"
                },
                "ref_num": {
                    "description": "Official receipt number",
                    "type": "string",
                    "example": "OR1101"
                },
                "created_at": {
                    "description": "Payment created data",
                    "type": "string",
                    "format": "date"
                }
            },
            "type": "object"
        },
        "DeleteSalePaymentSuccess": {
            "properties": {
                "success": {
                    "type": "boolean",
                    "example": true
                },
                "updated": {
                    "type": "boolean",
                    "example": true
                },
                "message": {
                    "type": "string",
                    "example": "Payment make successfully."
                },
                "data": {
                    "$ref": "#/definitions/savedSale"
                }
            },
            "type": "object"
        },
        "StatementOfAccountListSuccess": {
            "properties": {
                "total_debit": {
                    "description": "Total debit of chart of account",
                    "type": "number",
                    "example": "3000.00"
                },
                "total_credit": {
                    "description": "Total credit of chart of account",
                    "type": "number",
                    "example": "1000.00"
                },
                "date": {
                    "description": "Statement of account start date",
                    "type": "string",
                    "example": "2015-01-01"
                },
                "total": {
                    "description": "Total records in this statement of account",
                    "type": "integer",
                    "example": "130"
                },
                "per_page": {
                    "description": "Max records per page",
                    "type": "integer",
                    "example": "1"
                },
                "current_page": {
                    "description": "Current page number",
                    "type": "integer",
                    "example": "1"
                },
                "last_page": {
                    "description": "Last page number",
                    "type": "integer",
                    "example": "3"
                },
                "from": {
                    "description": "From records of current page",
                    "type": "integer",
                    "example": "50"
                },
                "to": {
                    "description": "To records of current page",
                    "type": "integer",
                    "example": "100"
                },
                "data": {
                    "$ref": "#/definitions/statementOfAccountData"
                }
            },
            "type": "object"
        },
        "statementOfAccountData": {
            "properties": {
                "id": {
                    "description": "ID",
                    "type": "integer",
                    "example": "19990"
                },
                "desc": {
                    "description": "Statemnt of account description",
                    "type": "string",
                    "example": "System - Payment Received: Eliese"
                },
                "payeed_id": {
                    "description": "Customer ID",
                    "type": "string",
                    "example": "102"
                },
                "type": {
                    "description": "Type",
                    "type": "string",
                    "example": "sale_pay"
                },
                "debit": {
                    "description": "Debit",
                    "type": "number",
                    "example": "0.00"
                },
                "credit": {
                    "description": "Credit",
                    "type": "number",
                    "example": "40.00"
                },
                "journal_id": {
                    "description": "Journal ID",
                    "type": "integer",
                    "example": "9000"
                },
                "created_at": {
                    "description": "Created at",
                    "type": "string",
                    "example": "2019-05-13T07:10:00+08:00"
                },
                "code": {
                    "description": "Chart of account code",
                    "type": "integer",
                    "example": "503"
                },
                "coa_name": {
                    "description": "Chart of account name",
                    "type": "string",
                    "example": "Accounts Receivable - Debtors"
                },
                "date": {
                    "description": "Statement of Account start date",
                    "type": "string",
                    "example": "1"
                },
                "ref_num": {
                    "description": "Invoice reference number or ID",
                    "type": "string",
                    "example": "INV230"
                },
                "item_type": {
                    "description": "Item type",
                    "type": "string",
                    "example": "trans"
                },
                "item_ref_id": {
                    "description": "Item reference ID",
                    "type": "integer",
                    "example": "809"
                }
            },
            "type": "object"
        },
        "AgingListSuccess": {
            "properties": {
                "enddate": {
                    "description": "End date of aging",
                    "type": "string",
                    "format": "date",
                    "example": "2019-06-01"
                },
                "interval": {
                    "description": "Aging interval",
                    "type": "integer",
                    "example": "30"
                },
                "max_cycle": {
                    "description": "Maximun aging cycle",
                    "type": "integer",
                    "example": "6"
                },
                "page": {
                    "description": "Page number",
                    "type": "integer",
                    "example": "1"
                },
                "stardate": {
                    "description": "Start date of aging",
                    "type": "string",
                    "format": "date",
                    "example": "2019-01-01"
                },
                "payee_id": {
                    "description": "Customer ID",
                    "type": "integer",
                    "example": "1230"
                },
                "payee_type": {
                    "description": "Example DEBTOR",
                    "type": "string",
                    "example": "DEBTOR"
                },
                "account_id": {
                    "description": "From records of current page",
                    "type": "integer",
                    "example": "1"
                },
                "is_coa": {
                    "description": "True",
                    "type": "boolean",
                    "example": "1"
                },
                "aging": {
                    "$ref": "#/definitions/agingData"
                }
            },
            "type": "object"
        },
        "agingData": {
            "properties": {
                "aging_0": {
                    "description": "Current",
                    "type": "number",
                    "example": "0.00"
                },
                "aging_1": {
                    "description": "30 Days",
                    "type": "number",
                    "example": "30.00"
                },
                "aging_2": {
                    "description": "60 Days",
                    "type": "number",
                    "example": "0.00"
                },
                "aging_3": {
                    "description": "90 Days",
                    "type": "number",
                    "example": "0.00"
                },
                "aging_4": {
                    "description": "120 Days",
                    "type": "number",
                    "example": "10.00"
                },
                "aging_5": {
                    "description": "150 Days",
                    "type": "number",
                    "example": "0.00"
                },
                "aging_6": {
                    "description": "180 Days+",
                    "type": "number",
                    "example": "0.00"
                }
            },
            "type": "object"
        },
        "apiLogin": {
            "required": [
                "name, password"
            ],
            "properties": {
                "name": {
                    "description": "Username for login",
                    "type": "string",
                    "example": "Biztory"
                },
                "password": {
                    "description": "Firstly, concatinate username and Api-key to generate encrypted APi-key `(Eg: username = Biztory, Api-key = XXXXX, after concat = BiztoryXXXXX)`. Secondly, pass the concatinated string `(Eg: BiztoryXXXXX)` to encrypt using MD5. Thirdly, concatinate output of encryption from step 2 with user_ID and this will be your password `(Eg: user_ID = 1, encryption output = md5_output, after concat = 1_md5_output)`",
                    "type": "string",
                    "example": "1_md5_output"
                }
            },
            "type": "object"
        },
        "LoginSuccess": {
            "type": "object"
        },
        "apiLogout": {
            "required": [
                "name",
                "api_key"
            ],
            "type": "object"
        },
        "LogoutSuccess": {
            "type": "object"
        },
        "getVendorSuccess": {
            "properties": {
                "total": {
                    "type": "number",
                    "example": "8"
                },
                "per_page": {
                    "type": "number",
                    "example": "50"
                },
                "current_page": {
                    "type": "number",
                    "example": "1"
                },
                "last_page": {
                    "type": "number",
                    "example": "1"
                },
                "from": {
                    "type": "number",
                    "example": "1"
                },
                "to": {
                    "type": "number",
                    "example": "8"
                },
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/getVendor"
                    }
                }
            },
            "type": "object"
        },
        "newAccount": {
            "required": [
                "name",
                "type"
            ],
            "properties": {
                "name": {
                    "description": "Name of the wallet",
                    "type": "string",
                    "example": "Maybank"
                },
                "desc": {
                    "description": "Description of your wallet",
                    "type": "string"
                },
                "in_cashflow": {
                    "description": "Determine if to include this wallet into cashflow calculation. (No=0, Yes=1)",
                    "type": "boolean",
                    "example": true
                },
                "reconcilable": {
                    "description": "Determine if this wallet is available for reconcilation. (No=0, Yes=1)",
                    "type": "boolean",
                    "example": true
                },
                "type": {
                    "description": "Type of this wallet. Valid input:*cash, bank, others*.",
                    "type": "string",
                    "example": true
                },
                "coa": {
                    "description": "Chart of Account ID that associated with this Wallet",
                    "type": "integer"
                },
                "bank_id": {
                    "description": "Bank ID that associated with this Wallet if the type is *bank*",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "savedAccount": {
            "properties": {
                "id": {
                    "description": "Wallet ID",
                    "type": "integer",
                    "example": "1"
                },
                "coa": {
                    "description": "Chart of Account ID that associated with this Wallet",
                    "type": "integer"
                }
            },
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/newAccount"
                }
            ]
        },
        "AccountType": {
            "properties": {
                "id": {
                    "description": "Account Type ID",
                    "type": "integer",
                    "example": "1"
                },
                "name": {
                    "description": "Name of the account type",
                    "type": "string",
                    "example": "Capital"
                },
                "new_code": {
                    "description": "next sequence code for selected account type",
                    "type": "string",
                    "example": "103001"
                }
            },
            "type": "object"
        },
        "bank": {
            "properties": {
                "id": {
                    "description": "Bank ID",
                    "type": "integer",
                    "example": "1"
                },
                "name": {
                    "description": "Bank Name",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CustomField": {
            "required": [
                "key",
                "value"
            ],
            "properties": {
                "key": {
                    "description": "Custom field identifier",
                    "type": "string",
                    "example": "Order No."
                },
                "value": {
                    "description": "Custom field value",
                    "type": "string",
                    "example": "W201604019"
                },
                "printable": {
                    "description": "Determine if this custom field will be visible in invoice printout",
                    "type": "boolean",
                    "example": true
                }
            },
            "type": "object"
        },
        "Discount": {
            "required": [
                "label",
                "value",
                "shown",
                "total",
                "tax",
                "tax_amt"
            ],
            "properties": {
                "shown": {
                    "description": "Determine if it is enabled",
                    "type": "boolean",
                    "example": true
                },
                "label": {
                    "description": "Determine which mode is being use. \"%\" for percentile, \"MYR\" for absolute amount",
                    "type": "string",
                    "example": "%"
                },
                "value": {
                    "description": "Applied value for the given label. If 20% is applied, insert 20",
                    "type": "number",
                    "example": "20"
                },
                "total": {
                    "description": "Total charges apply to invoice based on value",
                    "type": "number",
                    "example": "40.02"
                },
                "tax": {
                    "description": "SST or GST(gst) tax in decimal value",
                    "type": "number",
                    "example": "0.06"
                },
                "tax_amt": {
                    "description": "Total SST or GST(gst_amt) imposed based on value",
                    "type": "number",
                    "example": "2.40"
                }
            },
            "type": "object"
        },
        "ServiceCharge": {
            "required": [
                "label",
                "value",
                "shown",
                "total",
                "tax",
                "tax_amt"
            ],
            "properties": {
                "shown": {
                    "description": "Determine if it is enabled",
                    "type": "boolean",
                    "example": true
                },
                "label": {
                    "description": "Determine which mode is being use. \"%\" for percentile, \"MYR\" for absolute amount",
                    "type": "string",
                    "example": "%"
                },
                "value": {
                    "description": "Applied value for the given label. If 20% is applied, insert 20",
                    "type": "number",
                    "example": "20"
                },
                "total": {
                    "description": "Total charges apply to invoice based on value",
                    "type": "number",
                    "example": "32.02"
                },
                "tax": {
                    "description": "SST or GST(gst) tax in decimal value",
                    "type": "number",
                    "example": "0.06"
                },
                "tax_amt": {
                    "description": "Total SST or GST(gst_amt) imposed based on value",
                    "type": "number",
                    "example": "1.92"
                }
            },
            "type": "object"
        },
        "Address": {
            "properties": {
                "addr": {
                    "description": "Address line of your shipping address",
                    "type": "string",
                    "example": "No. 1, Jalan Berjaya"
                },
                "city": {
                    "description": "City of your shipping address",
                    "type": "string",
                    "example": "Petaling Jaya"
                },
                "state": {
                    "description": "State of your shipping address",
                    "type": "string",
                    "example": "Selangor"
                },
                "zipcode": {
                    "description": "Zipcode of your shipping address",
                    "type": "string",
                    "example": "47180"
                }
            }
        },
        "BillingAddress": {
            "properties": {
                "billing_addr": {
                    "description": "Address line of your billing address",
                    "type": "string",
                    "example": "No. 1, Jalan Berjaya"
                },
                "billing_city": {
                    "description": "City of your billing address",
                    "type": "string",
                    "example": "Petaling Jaya"
                },
                "billing_state": {
                    "description": "State of your billing address",
                    "type": "string",
                    "example": "Selangor"
                },
                "billing_zipcode": {
                    "description": "Zipcode of your billing address",
                    "type": "string",
                    "example": "47180"
                }
            }
        },
        "Tax": {
            "required": [
                "before_tax",
                "tax",
                "after_tax",
                "tax_code",
                "tax_rate"
            ],
            "properties": {
                "before_tax": {
                    "description": "Amount excluding tax",
                    "type": "number",
                    "example": "192.12"
                },
                "tax": {
                    "description": "Tax amount",
                    "type": "number",
                    "example": "11.53"
                },
                "after_tax": {
                    "description": "Amount including tax",
                    "type": "number",
                    "example": "203.65"
                },
                "tax_code": {
                    "description": "Tax codes (GST or SST). Available SST tax codes are SST-0, SST-5, SST-6, SST-10, SST-ES",
                    "type": "string",
                    "example": "SST-6"
                },
                "tax_rate": {
                    "description": "tax rate in decimal value",
                    "type": "number",
                    "example": "0.06"
                }
            },
            "type": "object"
        },
        "insertBranch": {
            "properties": {
                "id": {
                    "description": "ID of the branch applied",
                    "type": "integer",
                    "example": 1
                }
            },
            "type": "object"
        },
        "BranchProduct": {
            "properties": {
                "id": {
                    "description": "ID",
                    "type": "integer",
                    "example": "1"
                },
                "branch_id": {
                    "description": "Branch ID",
                    "type": "integer",
                    "example": "1"
                },
                "product_id": {
                    "description": "Product ID",
                    "type": "integer",
                    "example": "1"
                },
                "available_stock": {
                    "description": "Available stock balance",
                    "type": "number",
                    "example": "1"
                },
                "in_stock": {
                    "description": "Current stock balance",
                    "type": "number"
                },
                "selling_price": {
                    "description": "Selling price",
                    "type": "number",
                    "example": "10.00"
                },
                "avg_cost": {
                    "description": "Average cost",
                    "type": "number",
                    "example": "11.00"
                }
            },
            "type": "object"
        },
        "newChartOfAccount": {
            "required": [
                "name",
                "code",
                "account_type_id"
            ],
            "properties": {
                "name": {
                    "description": "chart of account name",
                    "type": "string"
                },
                "code": {
                    "description": "chart of account unique identifier code",
                    "type": "string"
                },
                "desc": {
                    "description": "description about chart of account",
                    "type": "string"
                },
                "account_type_id": {
                    "description": "account type ID",
                    "type": "integer",
                    "example": "1"
                }
            },
            "type": "object"
        },
        "savedChartOfAccount": {
            "properties": {
                "id": {
                    "description": "chart of account ID",
                    "type": "integer",
                    "example": "1"
                },
                "name": {
                    "description": "chart of account name",
                    "type": "string"
                },
                "code": {
                    "description": "chart of account unique identifier code",
                    "type": "string"
                },
                "desc": {
                    "description": "description about chart of account",
                    "type": "string"
                },
                "account_type_id": {
                    "description": "account type ID",
                    "type": "integer",
                    "example": "1"
                }
            },
            "type": "object"
        },
        "ChartOfAccount": {
            "required": [
                "id"
            ],
            "properties": {
                "id": {
                    "description": "chart of account ID",
                    "type": "integer",
                    "example": "1"
                },
                "name": {
                    "description": "chart of account name",
                    "type": "string",
                    "example": "Account Receivable"
                },
                "code": {
                    "description": "chart of account unique identifier code",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetChartOfAccountByCode": {
            "properties": {
                "id": {
                    "description": "chart of account ID",
                    "type": "integer",
                    "example": "1"
                },
                "name": {
                    "description": "chart of account name",
                    "type": "string",
                    "example": "Account Receivable"
                },
                "code": {
                    "description": "chart of account unique identifier code",
                    "type": "string"
                },
                "desc": {
                    "description": "chart of account Description",
                    "type": "string"
                },
                "account_type_id": {
                    "description": "Account type id",
                    "type": "integer",
                    "example": "1"
                },
                "account_type": {
                    "$ref": "#/definitions/AccountType"
                }
            },
            "type": "object"
        },
        "Payee": {
            "required": [
                "id",
                "name"
            ],
            "properties": {
                "id": {
                    "description": "Payee ID",
                    "type": "integer",
                    "example": "1"
                },
                "name": {
                    "description": "Payee name",
                    "type": "string",
                    "example": "John Doe"
                }
            },
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/BillingAddress"
                },
                {
                    "$ref": "#/definitions/Address"
                }
            ]
        },
        "getCustomer": {
            "properties": {
                "id": {
                    "description": "Customer ID",
                    "type": "integer",
                    "example": "1"
                },
                "name": {
                    "description": "Customer name",
                    "type": "string",
                    "example": "John"
                },
                "addr": {
                    "description": "Shipping address",
                    "type": "string",
                    "example": "No. 1, Jalan Berjaya, Petaling Jaya, 47180 Selangor"
                },
                "zip": {
                    "description": "Shipping zipcode",
                    "type": "string",
                    "example": "53000"
                },
                "city": {
                    "description": "Shipping city",
                    "type": "string",
                    "example": "Ptaling Jaya"
                },
                "state": {
                    "description": "Shipping state",
                    "type": "string",
                    "example": "Selangor"
                },
                "country": {
                    "description": "Shipping country",
                    "type": "string",
                    "example": "Malaysia"
                },
                "phone": {
                    "description": "Contact number",
                    "type": "number",
                    "example": "01100000000"
                },
                "email": {
                    "description": "Email ddress",
                    "type": "string",
                    "example": "example@gmail.com"
                },
                "billing_addr": {
                    "description": "Billing address",
                    "type": "string",
                    "example": "No. 1, Jalan Berjaya, Petaling Jaya, 47180 Selangor"
                },
                "billing_zip": {
                    "description": "Billing zipcode",
                    "type": "string",
                    "example": "53000"
                },
                "billing_city": {
                    "description": "Billing city",
                    "type": "string",
                    "example": "Ptaling Jaya"
                },
                "billing_state": {
                    "description": "Billing state",
                    "type": "string",
                    "example": "Selangor"
                },
                "billing_country": {
                    "description": "Billing country",
                    "type": "string",
                    "example": "Malaysia"
                },
                "remark": {
                    "description": "Remark for additional information",
                    "type": "string"
                },
                "attn": {
                    "description": "Attn",
                    "type": "string"
                },
                "fax": {
                    "description": "Fax number",
                    "type": "string"
                },
                "payment_term": {
                    "description": "Payment term",
                    "type": "string"
                },
                "identification_number": {
                    "description": "IC number",
                    "type": "string"
                },
                "shipping_attn": {
                    "description": "Shipping attn",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "newCustomer": {
            "required": [
                "name"
            ],
            "properties": {
                "name": {
                    "description": "Customer name",
                    "type": "string",
                    "example": "John Doe"
                },
                "email": {
                    "description": "Customer email",
                    "type": "string",
                    "example": "jogn@gmail.com"
                },
                "phone": {
                    "description": "Customer contact number",
                    "type": "number",
                    "example": "0123456789"
                },
                "billing_addr": {
                    "description": "Billing address",
                    "type": "string",
                    "example": "Jalan Berjaya"
                },
                "billing_zip": {
                    "description": "Billing zip",
                    "type": "number",
                    "example": "84000"
                },
                "billing_city": {
                    "description": "Billing city",
[...]
